.fondo{
  background-color: #474f5f;
}

.filtrar{
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
    border-radius: 8px;  
    padding: 10px; 
    margin: 10px auto;
    background-color: black;  
    background-size: -50px;
    text-decoration-color: blueviolet;
    text-align: center; 
    text-transform: capitalize;
         
  }

.styleList {
  border: 2px solid rgba(255, 0, 0, 0.3); 
  border-radius: 20px; 
  background: linear-gradient(45deg, rgb(180, 3, 3), orange, cyan, blue, violet, rgb(194, 0, 0));
  background-size: 400% 400%;
  animation: rainbowGlow 6s linear infinite;
  padding: 20px;
  margin: 20px auto;
  width: 180px; 
  cursor: pointer;
  text-align: center;
  
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3), 
              0 0 10px rgba(132, 177, 114, 0.6); 
  
  transition: transform 0.2s, box-shadow 0.3s; 
}

.styleList:hover {
  transform: translateY(-40px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4), 
              0 0 20px rgba(132, 177, 114, 0.8); 
}

@keyframes rainbowGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.listaGeneracion{
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
}

.buscar{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
    border-radius: 20%;  
    padding: 1%; 
    margin: 0 auto 30px auto;
    max-width: max-content;
    box-shadow: 4px 4px 13px rgba(121, 2, 2, 0.726);
    background-color: rgb(10, 119, 119);
    text-align: center; 
    text-transform: lowercase;   
    animation: rgbGlow 3s infinite alternate;
}

.buscar input {
    padding: 12px 15px;       
    font-size: 1.2rem;        
    border-radius: 10px;      
    border: none;
    width: 250px;
    max-width: 80vw; 

}

.buscar button {
    padding: 14px 25px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.listaGeneral {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  gap: 20px;
  justify-content: center;
  
  border: 2px solid #61dafb;
  border-radius: 11px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;

  width: fit-content;
  margin: 50px auto; 
  padding: 50px;
}
   

@media (min-width: 1200px) {
  .listaGeneracion{
    grid-template-columns: repeat(5, 2000px);
    max-width: 1200px;
    justify-content: center; 
    margin: 0 auto; 
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.titulo img{
  width: 400px;
  display: block;
  margin: 0 auto;
}


.poke-imagen {
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poke-imagen::before {
  content: "";
  position: absolute;
  inset: 0; 
  border-radius: 100%;
  border: 2px solid transparent; 
  background: conic-gradient(
    from 0deg,
    rgba(225, 228, 230, 0.1), rgba(7, 148, 141, 0.1), rgb(0, 255, 242), rgba(61, 182, 219, 0.1), rgba(61, 182, 219, 0.1), 
    rgb(0, 255, 242), rgba(61, 182, 219, 0.1), rgba(61, 182, 219, 0.1), rgb(0, 255, 242)
  );
 -webkit-mask: radial-gradient(circle 91px, transparent 91%, black 91%);
  mask: radial-gradient(circle 91px, transparent 91%, black 91%);
  z-index: 0;
  animation: spin 3s linear infinite; 
}

.poke-imagen img {
  width: 80%;
  position: relative;
  z-index: 1;
  object-fit: contain;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

